body{
background:#111;
color:white;
font-family:Arial;
margin:0;
padding:0;
}

.container{
max-width:900px;
margin:auto;
padding:40px;
}

input{
width:100%;
padding:15px;
margin-top:20px;
}

button{
padding:15px;
margin-top:20px;
cursor:pointer;
}

#resultado{
margin-top:30px;
}
